<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Sistema Electoral</title>
</head>

<body class="text-center">
    <main class="form-signin">
        <form [formGroup]="loginForm">
            <img class="mb-4" src="assets/bootstrap-logo.svg" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Sistema Electoral</h1>

            <div class="form-floating">
                <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Correo Electronico</label>
            </div>
            <div class="form-floating">
                <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Contraseña</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Recordarme
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="button" [disabled]="!loginForm.valid" (click)="validarUsuario()">Ingresar</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
        </form>
    </main>
</body>
</html>