<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">Sistema Electoral</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li *ngFor="let opcion of menu" class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{opcion.nombre}}
                    </a>
                    <ng-container *ngIf="opcion.opciones.length > 0">
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li *ngFor="let nivel1 of opcion.opciones"><a class="dropdown-item" routerLink="{{nivel1.url}}">{{nivel1.nombre}}</a></li>
                          </ul>
                    </ng-container>
                  </li>
            </ul>
        </div>
        <form class="d-flex">
            <button class="btn btn-success" type="button" (click)="config.salirDelSistema()" >Cerrar sesión</button>
          </form>

    </div>
</nav>
